<div class="tell-a-friend hidden">
    <h4>Share with a friend</h4>
    {{ form_start(form, {'action': path('connection_tell_a_friend'), 'attr': {'role': 'form'}}) }}
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Message</label>
            {{ form_widget(form.message) }}
        </div>
    {{ form_end(form) }}
</div>