{% if userPhotos is defined and userPhotos is not empty %}
    {% for gallery in userPhotos %}
        {% for galleryName, images in gallery %}
            <div class="row profile-gallery">
                {% for image in images %}
                    <div class="profile-image-box">
                        <img src="{{ image.path }}" data-image_id="{{ image.id }}">
                        <a href="{{ path('remove_profile_image', {id: image.id}) }}" class="btn btn-danger profile-image-remove">Remove</a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}