{% extends 'ConnectionWebBundle:Frontend:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/connectionuser/css/fos-registration.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="fos-custom-registration-container">
        {% block fos_user_content %}{% endblock fos_user_content %}
    </div>
{% endblock %}
