parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  gmail
    mailer_host:       ~
    mailer_user:       developer.optimum@gmail.com
    mailer_password:   OptimumDev12

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Facebook Credentials
    facebook.appid: 333611596791648
    facebook.secret: 4b2dca00073e7e1ab97b7ccf79b66f03

    # Twitter Credentials
    twitter.key: yWH87mrc1pETeR49y97MileCd
    twitter.secret: 9m5DqquPbP52Hxklx23Oxm8HQLHirFT6H1gbT63vOfgpdWjGAV

    search.user.per_page: 5
    search.event.per_page: 6
    search.event.top.per_page: 6
    event.upcoming.block.limit: 3
    
    # Country form field for search/register forms will be 
    # limited to this values
    profile_country_iso: [US, CA, UK, IT, FR, DE, DK, AU, BR, RU, TR, OTHER]
