.sprite {
    background: url('/bundles/connectionweb/img/sprite.png') no-repeat;
    display: block;
}

.sprite-dropdown-arrow {
    width: 21px;
    height: 15px;
    background-position: -5px -5px;
}

.sprite-facebook {
    width: 16px;
    height: 15px;
    background-position: -36px -5px;
}

.sprite-instagram {
    width: 16px;
    height: 15px;
    background-position: -62px -5px;
}

.sprite-logo-bottom {
    width: 126px;
    height: 28px;
    background-position: -88px -5px;
}

.sprite-logo-brand {
    width: 110px;
    height: 75px;
    background-position: -5px -43px;
    float: left;
}

.logo-text{
    width: 206px;
    height: 66px;
    margin-top: 10px;
    background: url('/bundles/connectionweb/img/logo.png') no-repeat;
    float:left;
}

.sprite-navbar-facebook {
    width: 110px;
    height: 19px;
    background-position: -5px -128px;
}

.sprite-navbar-twitter {
    width: 110px;
    height: 19px;
    background-position: -125px -128px;
}

.sprite-pinterest {
    width: 16px;
    height: 15px;
    background-position: -224px -5px;
}

.sprite-rss {
    width: 16px;
    height: 15px;
    background-position: -250px -5px;
}

.sprite-twitter {
    width: 19px;
    height: 15px;
    background-position: -276px -5px;
}
.sprite-add-photo {
    width: 22px;
    height: 21px;
    background-position: -240px -129px;
}
.sprite-return-events {
    background-position: -276px -128px;
    width: 27px;
    height: 22px;
}

