{% extends 'ConnectionUserBundle::registration_layout.html.twig' %}
{% block theme %}create-profile{% endblock %}

{% block fos_user_content %}
    <div class="quick-register-page">
        <div class="row">
            <div class="col-md-offset-2 col-md-6">
            <h4>Log In:</h4>
                <form action="{{ path("fos_user_security_check") }}" role="form"  id='login-form' method="post">
                    <div class="form-group">
                        <input type="text" id="username" name="_username" required="required" placeholder="E-mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="_password" required="required" placeholder="Your password" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-xs btn-gradient" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({},'messages') }}">Sign in</button>
                        </div>
                        <div class="col-md-6">
                            <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
                        </div>
                    </div>
                    <label class="forgot">
                    </label>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h4>Register:</h4>
                {{ include("FOSUserBundle:Registration:register_content.html.twig", {'form': form}) }}
            </div>
        </div>
    </div>
{% endblock %}

