.messenger-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.messenger-container ul {
    list-style: none;
    padding-left: 10%;
    padding-top: 10%;
    font-size: 18px;
    font-weight: bold;
}
.messenger-container ul a {
    text-decoration: none;
}


.messenger-container .messenger-content h2 {
    color: #00A0E3;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
}

.messenger-container .messenger-content .messenger_thread_message .alert {
    padding: 3px;
    width: 250px;
}

.messenger-container .messenger-content .messenger_thread_message .messenger_thread_message_info {
    font-size: 11px;
    color: #ccc;
}

.messenger-container .messenger-content .messenger_thread_message .messenger_thread_message_body {
    padding: 5px;
}

.messenger-container .messenger-content form.reply input, .messenger-container .messenger-content form.new-thread input {
    width: 50%;
    max-width: none;
}

.messenger-container .messenger-content form.reply textarea, .messenger-container .messenger-content form.new-thread textarea {
    width: 50%;
    height: 75px;
    max-width: none;
}

.messenger-container .messenger-content form.reply div#message label {
    display: none;
}

.messenger-container .messenger-content form.new-thread .form-group {
    margin-bottom: 10px;
}