{% extends 'ConnectionMessageBundle::layout.html.twig' %}
{% block fos_message_content %}

    <h2>{% trans from 'MessageBundle' %}inbox{% endtrans %}</h2>
    {% include 'ConnectionMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
