{% if participants is defined and participants is not empty %}
    {% for participant in participants %}
        <div class="author">
            <div class="people clearfix">
                <div class="face postet-by">
                    <a href="{{ path('view_profile', {'id': participant.profile.id}) }}">
                        <p class="name">{{ participant.username }}</p>
                        <img width="82px" src="{{ participant.profile.avatar }}">
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}