<div class="fm-popup hidden" id="profile-image">
    <div class="fm-popup-headline">Upload Event Image</div>
    <div class="fm-content">
        {{ render(controller("ConnectionEventBundle:Image:jcropForm")) }}
    </div>
    <div class="fm-nav-container">
        <div class="fm-nav">
            <button class="btn btn-success dz-process-queue pull-right">Upload</button>
        </div>
    </div>
</div>