<div class="fm-popup-image-area">
    <form name="jcrop" action="{{ oneup_uploader_endpoint('event') }}" id="profile-images" style="min-height: 300px;">
    {{ form_rest(form) }}
        <div class="dz-upload-message" style="font-size: 23px;"><span>Drop file here to upload (or click)</span></div>
    </form>
</div>
