<div style="float:left;">
    <img src="http://placehold.it/500x100&text=ConnectionRu" />
</div>
<div style="float:right;margin-top:30px;">
    <ul class="nav nav-pills">
        <li><a href="#">HOME</a></li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                EVENTS <span class="caret"></span>
            </a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="#">+ Add event</a></li>
            </ul>
        </li>
        <li><a href="#">SEARCH</a></li>
        <li><a href="#">GALLERY</a></li>
        <li><a href="#">LOGIN</a></li>
    </ul>
</div>
<div style="clear:both"></div>